<!-- TODO: Localization -->
<div class="tab-container" data-type="consumable">

    {{> tab-buttons key="consumable" header="Consumables" }}

    {{#set-block "collapse-content"}}
        {{#each @root.sources.consumable as |source|}}
            <div class="source-wrapper" data-source="{{json source}}">
                {{> weight-range key=(source-flag source) quick-roll=true }}
            </div>
        {{/each}}
    {{/set-block}}
    {{> collapsible title="Data Sources" id="consumable-sources" }}

</div>
