<!-- TODO: Localization -->
<div class="tab-container" data-type="permanent">

    {{> tab-buttons }}
    <h3 class="tab-header">Permanent Items</h3>
    {{> tab-config key="permanent" }}

    {{#set-block "collapse-content"}}
        {{#each @root.sources.permanent as |source|}}
            <div class="source-wrapper" data-source="{{json source}}">
                {{> weight-range key=(source-flag source) quick-roll=true }}
            </div>
        {{/each}}
    {{/set-block}}
    {{> collapsible title="Data Sources" id="permanent-sources" }}

</div>
