{{#if (gteq (walk actor (create-flag "potencyRune")) 1)}}
    {{> create-select name="propertyRune1" options=propertyRunes label="Property 1" }}
{{/if}}

{{#if (gteq (walk actor (create-flag "potencyRune")) 2)}}
    {{> create-select name="propertyRune2" options=propertyRunes label="Property 2" }}
{{/if}}

{{#if (gteq (walk actor (create-flag "potencyRune")) 3)}}
    {{> create-select name="propertyRune3" options=propertyRunes label="Property 3" }}
{{/if}}

{{#if (gteq (walk actor (create-flag "potencyRune")) 4)}}
    {{> create-select name="propertyRune4" options=propertyRunes label="Property 4" }}
{{/if}}
