<!-- TODO: Localization -->
<!-- TODO: Collapse save/load -->
<div class="collapse-wrap">
    <h3>Data Sources</h3>
    <div class="weights">
        {{#each (lookup sources sourceType) as |table|}}
            <div class="tables-row" data-id="{{table.id}}">
                <section class="header">
                    <div class="form-group">
                        {{#if displayQuickRolls}}
                            <i class="fas fa-dice-d20"></i>
                        {{/if}}
                        <label for="{{sourceFlag table}}.enabled">{{table.name}}</label>
                        <input title="Include in Possibilities?"
                               type="checkbox"
                               id="{{sourceFlag table}}.enabled"
                               name="{{sourceFlag table}}.enabled"
                            {{checked table.enabled}}
                        >
                    </div>
                </section>
                <section class="settings">
                    <input type="range"
                           title="Weight"
                           min="{{@root.tableSettings.minValue}}"
                           max="{{@root.tableSettings.maxValue}}"
                           step="0.25"
                           id="{{sourceFlag table}}.weight"
                           name="{{sourceFlag table}}.weight"
                           value="{{table.weight}}"
                    >
                </section>
            </div>
        {{/each}}
    </div>
</div>