<!-- TODO: Localization -->
<div class="sources-wrap">
    <h3>Data Sources</h3>
    <div class="sources">
        {{#each (lookup sources sourceType) as |source|}}
            <div class="sources-row" data-source="{{json source}}">
                <section class="header">
                    <div class="form-group">
                        {{#if ../displayQuickRolls}}
                            <i class="fas fa-dice-d20"></i>
                        {{/if}}
                        <label for="{{sourceFlag source}}.enabled">{{source.name}}</label>
                        <input title="Include in Possibilities?"
                               type="checkbox"
                               id="{{sourceFlag source}}.enabled"
                               name="{{sourceFlag source}}.enabled"
                            {{checked source.enabled}}
                        >
                    </div>
                </section>
                <section class="settings">
                    <input type="range"
                           title="Weight"
                           min="{{@root.constants.rangeMin}}"
                           max="{{@root.constants.rangeMax}}"
                           step="0.25"
                           id="{{sourceFlag source}}.weight"
                           name="{{sourceFlag source}}.weight"
                           value="{{source.weight}}"
                    >
                </section>
            </div>
        {{/each}}
    </div>
</div>