<div class="weight-range">
    <section class="weight-title">
        <div class="form-group">
            <label for="{{key}}.enabled">{{name}}</label>
            <input type="checkbox" id="{{key}}.enabled" name="{{key}}.enabled" {{checked valueEnabled}}>
        </div>
    </section>
    <section class="weight-input">
        <input type="range" title="Weight"
               min="{{@root.constants.rangeMin}}"
               max="{{@root.constants.rangeMax}}"
               step="0.25"
               id="{{key}}.weight"
               name="{{key}}.weight"
               value="{{valueWeight}}">
    </section>
</div>