<div class="weight-range">
    <div class="weight-title">

        {{#if quick-roll}}
            <i class="fas fa-dice-d20 quick-roll" title="Quick Roll"></i>
        {{/if}}

        <label for="{{key}}.enabled" {{#if label}}title="{{label}}"{{/if}}>{{{name}}}</label>
        <input type="checkbox" id="{{key}}.enabled" name="{{key}}.enabled" {{checked enabled}}>

    </div>
    <div class="weight-input">
        <label for="{{key}}.weight" title="Likelihood">x{{round weight}}</label>
        <input type="range" title="Weight"
               min="{{@root.constants.rangeMin}}"
               max="{{@root.constants.rangeMax}}"
               step="1"
               id="{{key}}.weight"
               name="{{key}}.weight"
               value="{{weight}}">
    </div>
</div>