<section class="sheet-sidebar sidebar sidebar-loot">

    <nav class="sheet-tabs tabs loot-app-nav" data-group="primary">
        <a class="item" data-tab="settings" title="Settings"><i class="fas fa-user"></i></a>
        <a class="item" data-tab="treasure" title="Treasure"><i class="fas fa-coins"></i></a>
        <a class="item" data-tab="permanent" title="Permanent"><i class="fas fa-shield-alt"></i></a>
        <a class="item" data-tab="consumable" title="Consumable"><i class="fas fa-wine-bottle"></i></a>
        <a class="item" data-tab="spell" title="Scroll/Wand"><i class="fas fa-scroll"></i></a>
        <a class="item" data-tab="create" title="Create Item"><i class="fas fa-plus-square"></i></a>
    </nav>

    {{#if user.isGM}}
        <div class="loot-app-content sheet-content-loot">
            <div class="tab loot-app-tab settings" data-group="primary" data-tab="settings">
                {{> modules/pf2e-lootgen/templates/loot-app/tabs/settings.html }}
            </div>
            <div class="tab loot-app-tab treasure" data-group="primary" data-tab="treasure">
                {{> modules/pf2e-lootgen/templates/loot-app/tabs/treasure.html }}
            </div>
            <div class="tab loot-app-tab permanent" data-group="primary" data-tab="permanent">
                {{> modules/pf2e-lootgen/templates/loot-app/tabs/permanent.html }}
            </div>
            <div class="tab loot-app-tab consumable" data-group="primary" data-tab="consumable">
                {{> modules/pf2e-lootgen/templates/loot-app/tabs/consumable.html }}
            </div>
            <div class="tab loot-app-tab spell" data-group="primary" data-tab="spell">
                {{> modules/pf2e-lootgen/templates/loot-app/tabs/spell.html }}
            </div>
            <div class="tab loot-app-tab create" data-group="primary" data-tab="create">
                {{> modules/pf2e-lootgen/templates/loot-app/tabs/create/index.html }}
            </div>
        </div>
    {{else}}
        {{> modules/pf2e-lootgen/templates/loot-app/partials/loot-profile.html}}
    {{/if}}
</section>